@media (max-width:680px) {
    .head{
        position: absolute;
        top: 10px;
        left: 6px;
        
     }
     .home-nav1{
        position: absolute;
        top: 60px;
        left: 6px;
     }
     .home-nav2{
        position: absolute;
        top: 60px;
        right: 6px;
     }
   
}